body
{
	background-color: #B4CDCD;
}

h1{
	color: blue;
}

h1:hover
{
	color: red;
}

#intro{
	position: relative;
}

.profile
{
	position: absolute;
	height: 200px;
	width: 200px;
	right: 0px;
	top: 0px;
	border: 5px solid blue;
	border-radius: 50%;
}

.profile:hover{
	border: 5px solid red;
}

p span:hover
{
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

li span{
	color: grey;
}

.subpoints
{
	height: 100px;
	width: 1000px;
}

div div h4{
	margin-left: 10%;
}

#bar{
	background-color: blue;
	height: 50px;
}

.navbtn{

}

#display{
	
}

.details
{
	height: 70px;
	width: 575px;
	float: right;
	border-left: 1px solid black;
}

#intro p{
	font-style: oblique;
}

#resume
{
	margin: auto;
	width: 800px;
}