body{
	background-color: #B4CDCD;
}

h1{
	color: blue;
}

#intro{
	position: relative;
}

.profile{
	position: absolute;
	height: 200px;
	width: 200px;
	right: 0px;
	top: 0px;
	border: 5px solid blue;
	border-radius: 50%;
}

.profile:hover{
	border: 5px solid #0020C2;
}

p span:hover{
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

li span{
	color: grey;
}

.subpoints{
	height: 100px;
	width: 1000px;
}

div div h4{
	margin-left: 10%;
}

#bar{
	height: 50px;
}

.navbtn{
	width: 100px;
	height: 50px;
}

#display{
	/* empty rule */
}

.details{
	height: 70px;
	width: 575px;
	float: right;
	border-left: 1px solid black;
}

#intro p{
	font-style: oblique;
}

#resume{
	margin: auto;
	width: 800px;
}

/* Social Media Icons */
.fa{
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover{
    opacity: 0.7;
}

/* Facebook */
.fa-facebook{
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter{
    background: #55ACEE;
    color: white;
}

/* Linkedin */
.fa-linkedin{
    background: #007bb5;
    color: white;
}