body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

.nav-bar li, .footer li {
    display: inline-block;
}

.nav-bar li a{
  font-size: 19px;
}

.nav-bar li a, .footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    border-bottom: 5px solid white;
}

.nav-bar .left{
  float: left;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
}

#name{
  font-size: 18px;
  font-weight: normal;
}

#content{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#content h1{
  color: white;
  font-size: 40px;
}

#content p{
  color: white;
  font-size: 18px;
  font-style: italic;
}

.footer {
   right: 0;
   margin: 0;
   padding: 0;
   bottom: 0;
   position: absolute;
   overflow: hidden;
   list-style-type: none;
}

.footer li a img{
  height: 25px;
  width: 25px;
}
